html {
    background-color: #fff;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}

h2, h3 {
    font-weight: 300;
}

.box {
    text-align: center;
    margin: 30px;
}

h3 {
    color: #555;
    font-size: 31px;
    font-weight: 200;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    word-spacing: 1px;
}

.box button {
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 200;
    color: #555;
}

#home h3:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {
    line-height: 155%;
    font-weight: 200;
    font-size: 20px;
    width: 70%;
    color: #555;
    margin-left: 15%;
}

/* toggle sub here */

.bg-info-sub {
    color: #fff;
    background: rgb(48, 99, 138);
    height: 190px;
    border: none;
}

.bg-work-sub {
    color: #fff;
    background: rgb(59, 62, 92);
    height: 190px;
    border: none;
}

.bg-weducation-sub{
    color: #fff;
    background: rgb(243, 173, 81);
    height: 190px;
    border: none;
}

.bg-proj-sub {
    color: #fff;
    background: rgb(43, 149, 156);
    height: 190px;
    border: none;
}

.bg-contact-sub {
    color: #fff;
    background: rgb(207, 74, 74);
    height: 190px;
    border: none;
}

/* toggle here */

.bg-work {
    width: 20%;
    color: #fff;
    background: rgb(59, 62, 92);
}

.bg-proj {
    width: 20%;
    color: #fff;
    background: rgb(43, 149, 156);
}

.bg-education {
    width: 20%;
    color: #fff;
    background:  rgb(243, 173, 81);
}

.bg-contact {
    width: 20%;
    color: #fff;
    background:  rgb(207, 74, 74);
}

.bg-home {
    width: 20%;
    color: #fff;
    background:rgb(48, 99, 138);
}

.bg-black {
    color: #fff;
    background: Black;
    font-weight: 300;
}

span {
    font-weight: 300;
}

.progress {
    margin-top: 40px;
    height: 30px;
    border-radius: 200px;
    font-size: 20px;
    border: 2.2px solid rgb(173, 214, 221);
}

.bar-color {
    background-color: #e67e22;
}

/* header here */
.bg-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#main-header img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-header .port-item {
    width: 30%;
    height: 127px;
}

#main-header .port-item:hover {
    opacity: 0.75;
    cursor: pointer;
    color: Black;
    transition: opacity 0.3s, color 0.3s;
}



@media(min-width: 1199px){
    .port-item {
        padding: 2.2em !important;
    }
}

/* IONICONS */
.icon-big i {
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

/* Button */
#home .btn-ghost {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    border-radius: 200px;
}

/*
.btn-ghost:link,
.btn-ghost:visited {
    color: #555;
}
*/

#home .btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

#home .btn:hover,
.btn:focus {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

#home .btn:hover,
btn:active {
    background-color: #cf6d17;
}